<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="appName">blog-webapp</Property>
    <Property name="filename">E:\logs\${appName}</Property>
    <Property name="formatPattern">[${appName}][%d{yyyy-MM-dd HH:mm:ss.SSS}][%p][%c{1}][%t]%m%n</Property>
  </Properties>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${formatPattern}" />
    </Console>
    <RollingFile name="RollingFile" fileName="${filename}.log" filePattern="${filename}-%d{yyyy-MM-dd}.%i.log">
      <PatternLayout pattern="${formatPattern}" />
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="STDOUT" />
      <AppenderRef ref="RollingFile" />
    </Root>
  </Loggers>
</Configuration>